body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
  width: 100%;
  height: 8rem;
}

#kakaoMap {
  width: 100%;
  height: calc(100vh - 9rem);
}
